<div class="login-page">
  <aside class="left-panel">
    <div class="brand">
      <img
        ngSrc="assets/img/Logo1.png"
        width="300"
        height="480"
        class="brand-image"
        alt="Logo QuestIO"
        priority
      />
    </div>
  </aside>

  <main class="right-panel">
    <section class="card">
      <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
        <div class="field">
          <label for="email">E-mail</label>
          <input id="email" type="email" formControlName="email" placeholder="seu@email.com" />
        </div>

        <div class="field">
          <label for="password">Senha</label>
          <input id="password" type="password" formControlName="password" placeholder="••••••••" />
        </div>

        <div class="aux">
          <a class="link" href="#">Esqueci minha senha</a>
        </div>
        <div>
          <button class="q-btn" type="submit" [disabled]="form.invalid">ENTRAR</button>
        </div>
      </form>
    </section>
  </main>
</div>
